/* fonts */
@font-face {
  font-family: "Raleway Reg";
  src: url("Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Ita";
  src: url("Raleway-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Lig";
  src: url("Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Thi";
  src: url("Raleway-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Thi Ita";
  src: url("Raleway-ThinItalic.ttf") format("truetype");
}
.typo_raleway_reg{
  font-family: "Raleway Reg";
}
.typo_raleway_thi{
  font-family: "Raleway Thi";
}
.typo_raleway_lig{
  font-family: "Raleway Lig";
}
.typo_raleway_thiita{
  font-family: "Raleway Thi Ita";
}

/* general settings */
* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

  --color-text: #ffffff;
  --color-background: #0f0f0f;
  --color-gridcell: #ffffff;
  --color-scroll-hover: #f2f2f2;

  background-color: var(--color-background);
  color: var(--color-text);
}
.text_uppercase{
  text-transform: uppercase;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-text);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logo {
  position: absolute;
  top: 2vw;
  left: 2vw;
  width: 12vw;
  height: auto;
}
.menu {
  font-size: 5vw;
  text-align: right;
  margin-top: 5vw;
  margin-right: 4vw;
}
.big-title {
  font-size: 18vw;
  text-align: center;
  margin-top: 6vw;
}
.big-title-left {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 14vw;
    margin-top: 5vw;
    margin-left: 8vw;
}
.big-title-right {
    writing-mode: vertical-rl;
    font-size: 18vw;
    margin-top: 5vw;
    margin-left: 5vw;
}
.big-title-bot {
  text-align: center;
  font-size: 12vw;
  margin-top: 8vw;
}
.case {
  padding-top: 4vw;
  padding-left: 8vw;
}
.case_number {
  font-size: 8vw;
}
.case_title {
  font-size: 12vw;
}
.case_text {
  padding-top: 6vw;
  padding-left: 8vw;
  padding-right: 8vw;
  text-align: justify;
}
.about_learn{
  padding-top: 11vw;
}
.case_learn{
  text-decoration: none;
  font-size: 8vw;
  padding-left: 8vw;
}
.profile_picture > img {
  width: 80vw;
  height: auto;
  padding-top: 6vw;
  padding-left: 10vw;
}
.edu_text {
  padding-left: 8vw;
  padding-top: 8vw;
}
.edu_text_title {
  font-size: 12vw;
}
.edu_card_title{
  font-size: 5vw;
  text-align: center;
  margin-top: 14vw;
}
.edu_card_container {
  text-align: left;
  padding-left: 6vw;
  padding-right: 5vw;
  padding-top: 8vw;
}
.work_sub_title {
  font-size: 10vw;
  text-align: center;
  padding-top: 4vw;
}
.work_card_img{
  width: 90vw;
  height: auto;
  padding-top: 5vw;
  padding-left: 5vw;
  filter: grayscale(100%);
  overflow: hidden!important;
}
.social{
  text-align: center;
  font-size: 6vw;
  padding-top: 5vw;
}
.social > a {
  text-decoration: none;
}
.social_mail{
  padding-top: 5vw;
  text-align: center;
}
.social_mail > a {
  text-decoration: none;
  font-size: 6vw;
}
.credits {
  font-size: 4vw;
  padding-top: 6vw;
  text-align: center;
}
/* Animation */
.work-learn{
  text-align: center;
  font-size: 8vw;
  margin-top: 11vw;

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  -moz-animation: my-animation 10s linear infinite;
  -webkit-animation: my-animation 10s linear infinite;
  animation: my-animation 10s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/* Grid settings*/
.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 1px;
  background-color: var(--color-gridcell);
  grid-template-areas: "empty_small empty_small empty_small"
  "cube_small_0 cube_small_1 cube_small_2"
  "empty_large_1 empty_large_1 empty_large_1"
  "cube_0 cube_1 cube_5"
  "cube_0 cube_4 cube_5"
  "cube_7 cube_7 cube_5"
  "empty_large_2 empty_large_2 empty_large_2"
  "about_title about_title cube_8"
  "about_text about_text about_text"
  "about_learn about_learn cube_9"
  "cube_10 cube_11 cube_12"
  "profile_picture profile_picture profile_picture"
  "cube_13 cube_14 cube_15"
  "edu_text edu_text edu_text"
  "edu_card_title_0 edu_card_text_0 edu_card_text_0"
  "edu_card_title_1 edu_card_text_1 edu_card_text_1"
  "cube_16 cube_17 cube_18"
  "edu_card_text_2 edu_card_text_2 edu_card_title_2"
  "edu_card_text_3 edu_card_text_3 edu_card_title_3"
  "cube_19 cube_20 cube_21"
  "work_title work_title cube_22"
  "work_text work_text work_text"
  "scrolling_text scrolling_text cube_23"
  "cube_24 cube_25 cube_26"
  "cube_27 work_sub work_sub"
  "work_card_0 work_card_0 work_card_0"
  "work_card_1 work_card_1 work_card_1"
  "work_card_2 work_card_2 work_card_2"
  "work_card_3 work_card_3 work_card_3"
  "work_card_4 work_card_4 work_card_4"
  "work_card_5 work_card_5 work_card_5"
  "large_small large_small large_small"
  "social_0 social_1 social_2"
  "social_3 social_mail social_mail"
  "large_empty_1 large_empty_1 large_empty_1"
  "large_empty_2 large_empty_2 large_empty_2";
  grid-template-columns: 33.3vw 33.3vw 33.4vw;
  grid-template-rows: 16.5vw 16.5vw 33vw 33vw 33vw 33vw 33vw 33vw 66vw 33vw 33vw 132vw 33vw 33vw 33vw 33vw 33vw 33vw 33vw 33vw 33vw 66vw 33vw 33vw 33vw 99vw 99vw 99vw 99vw 99vw 99vw 16.5vw 16.5vw 16.5vw 16.5vw 16.5vw;
}
.container > div {
}

.empty_small {
  grid-area: empty_small;
}
.cube_small_0 {
  grid-area: cube_small_0;
}
.cube_small_1 {
  grid-area: cube_small_1;
}
.cube_small_2 {
  grid-area: cube_small_2;
}
.empty_large_1 {
  grid-area: empty_large_1;
}
.cube_0 {
  grid-area: cube_0;
}
.cube_1 {
  grid-area: cube_1;
}
.cube_5 {
  grid-area: cube_5;
}
.cube_4 {
  grid-area: cube_4;
}
.cube_7 {
  grid-area: cube_7;
}
.empty_large_2 {
  grid-area: empty_large_2;
}
.about_title {
  grid-area: about_title;
}
.cube_8 {
  grid-area: cube_8;
}
.about_text {
  grid-area: about_text;
}
.about_learn {
  grid-area: about_learn;
}
.cube_9 {
  grid-area: cube_9;
}
.cube_10 {
  grid-area: cube_10;
}
.cube_11 {
  grid-area: cube_11;
}
.cube_12 {
  grid-area: cube_12;
}
.profile_picture {
  grid-area: profile_picture;
}
.cube_13 {
  grid-area: cube_13;
}
.cube_14 {
  grid-area: cube_14;
}
.cube_15 {
  grid-area: cube_15;
}
.edu_text {
  grid-area: edu_text;
}
.edu_card_title_0 {
  grid-area: edu_card_title_0;
}
.edu_card_text_0 {
  grid-area: edu_card_text_0;
}
.edu_card_title_1 {
  grid-area: edu_card_title_1;
}
.edu_card_text_1 {
  grid-area: edu_card_text_1;
}
.cube_16 {
  grid-area: cube_16;
}
.cube_17 {
  grid-area: cube_17;
}
.cube_18 {
  grid-area: cube_18;
}
.edu_card_text_2 {
  grid-area: edu_card_text_2;
}
.edu_card_title_2 {
  grid-area: edu_card_title_2;
}
.edu_card_text_3 {
  grid-area: edu_card_text_3;
}
.edu_card_title_3 {
  grid-area: edu_card_title_3;
}
.cube_19 {
  grid-area: cube_19;
}
.cube_20 {
  grid-area: cube_20;
}
.cube_21 {
  grid-area: cube_21;
}
.work_title {
  grid-area: work_title;
}
.cube_22 {
  grid-area: cube_22;
}
.work_text {
  grid-area: work_text;
}
.scrolling_text {
  grid-area: scrolling_text;
}
.cube_23 {
  grid-area: cube_23;
}
.cube_24 {
  grid-area: cube_24;
}
.cube_25 {
  grid-area: cube_25;
}
.cube_26 {
  grid-area: cube_26;
}
.cube_27 {
  grid-area: cube_27;
}
.work_sub {
  grid-area: work_sub;
}
.work_card_0 {
  grid-area: work_card_0;
}
.work_card_1 {
  grid-area: work_card_1;
}
.work_card_2 {
  grid-area: work_card_2;
}
.work_card_3 {
  grid-area: work_card_3;
}
.work_card_4 {
  grid-area: work_card_4;
}
.work_card_5 {
  grid-area: work_card_5;
}
.large_small {
  grid-area: large_small;
}
.social_0 {
  grid-area: social_0;
}
.social_1 {
  grid-area: social_1;
}
.social_2 {
  grid-area: social_2;
}
.social_3 {
  grid-area: social_3;
}
.social_mail {
  grid-area: social_mail;
}
.large_empty_1 {
  grid-area: large_empty_1;
}
.large_empty_2 {
  grid-area: large_empty_2;
}
